.att-top{
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  margin: 18px 0;
}

.att-top .second-div {
  display: flex;
  gap: 10px;
  align-items: center;
}

.second-div p {
  margin: 0;
}

.att-top2 {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-bottom: 20px;
}

.att-top2 p {
  margin: 0;
}

.absent {
  color: red;
}

.absent2 {
  color: rgb(41, 2, 2);
}

.present {
  color: green;
}

.highlight {
  background-color: rgba(49, 77, 92, 0.16);
}

td div, td i {
  background-color: transparent;
}