<div class="container">
  <div class="header">Heading</div>
  <div class="row1">
    <div class="img-div">
      <img src="../../../assets/images/profile.jpg" class="profile" alt="avatar image">
    </div>
    <div class="other-div">
      <ul class="attt">
        <li><p>Role</p> <span>{{attendanceInner?.role}}</span></li>
        <li><p>Skills</p>  <span>{{attendanceInner?.skills}}</span></li>
        <li><p>EIT ID</p><span>{{attendanceInner?.eit_id}}</span></li>
        <li><p>Status</p> <span>{{attendanceInner?.status}}</span></li>
        <li><p>Milestone</p> <span>{{attendanceInner?.milestone}}</span></li>
      </ul>
    </div>
  </div>


  <div class="row">
    <h1>Attendance Details</h1>
    <div class="col-md-12">
      <ul class="att">
        <li class="bg-li">Number of Days <span>{{attendanceInner?.number_of_working_days}}</span></li>
        <li>Number of Times Mest in <span>{{attendanceInner?.number_of_times_mest_in}}</span></li>
        <li class="bg-li">Most Missed Class <span>{{attendanceInner?.most_missed_classes}}</span></li>
        <li >Time Reporting <span>{{attendanceInner?.reporting_time}}</span></li>
        <li class="bg-li">Absence <span>{{attendanceInner?.absense}}</span></li>
        <li>Punctuality <span>{{attendanceInner?.punctuality}}</span></li>
        <li class="bg-li">Request <span>{{attendanceInner?.requests}}</span></li>
      </ul>
    </div>
  </div>

  <!-- <h1>Absence Analytics</h1>
  <img src="" alt="Analytics image"> -->
</div>



 <style>

  .row1 {
    width: 100%;
    display: flex;
  }

  .img-div {
    width: 200px;
    height: 200px;
    border: 1px solid;
  }

  .att {
    padding-right: 30%;
  }
  .att > li {
    /* width: 100%; */
    display: flex;
    justify-content: space-between;
    padding: 5px 60px 5px 30px;
  }
  .attt > li {
    /* width: 100%; */
    display: flex;
    gap: 50px;
  }

  .attt li p {
    width: 100px;
  }
  .bg-li {
    background-color: rgba(132, 193, 209, 0.63);
  }
 </style>