<div class="req-body">
  <div class="body-head">
    <!-- <h3>Requests</h3> -->
    <button class="xhead" mat-fab extended color="link" >
    <i class="fa fa-bed"></i>
    Requests
    </button>
    <div class="righties">
      <button mat-fab extended>
        <mat-icon>search</mat-icon>
        Filter
      </button>
      <button mat-fab extended color>
        <span>Today</span>
        <mat-icon>expand_more</mat-icon>
      </button>
    </div>
  </div>
  <div class="requests-wrapper">
  
      <mat-tab-group dynamicHeight animationDuration="0ms">
          <mat-tab label="Requests">
  
  
            <!-- <table class="table">
              <thead>
                  <th>No.</th>
                  <th>EIT ID</th>
                  <th>Type</th>
                  <th>Date</th>
                  <th>Status</th>
                  <th>Action</th>
              </thead>
              <tbody>
              <tbody>
                  @for (leave of leaves; track leave.id) {
                      <tr>
                          <td>{{leave?.id}}</td>
                          <td>{{leave?.EIT_id}}</td>
                          <td>{{leave?.type}}</td>
                          <td>{{leave?.date}}</td>
                          @if (leave?.status=='Accepted') {
                            <td><button class="btn btn-outline-success">{{leave?.status}}</button></td>
                          }
                          @if(leave?.status=="Declined"){
                            <td><button class="btn btn-outline-danger">{{leave?.status}}</button></td>
                          }
                          @if(leave?.status=="Pending"){
                            <td><button class="btn btn-outline-warning">{{leave?.status}}</button></td>
                          }
                          <td>
                              <a class="btn btn-link" [routerLink]="['/leave', leave.id]">
                                  <i class="fa fa-eye"></i>
                              </a>
                          </td>
                      </tr>
                  }
  
              </tbody>
            </table> -->
  
  
  
            <mat-card>
              <mat-card-content>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
  
              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
  
              <!-- Position Column -->
              <ng-container matColumnDef="id">
                <th mat-header-cell *matHeaderCellDef> No. </th>
                <td mat-cell *matCellDef="let element"> {{element.id}} </td>
              </ng-container>
  
              <!-- Name Column -->
              <ng-container matColumnDef="EIT_id">
                <th mat-header-cell *matHeaderCellDef> EIT ID </th>
                <td mat-cell *matCellDef="let element"> {{element.EIT_id}} </td>
              </ng-container>
  
              <!-- Weight Column -->
              <ng-container matColumnDef="type">
                <th mat-header-cell *matHeaderCellDef> Type </th>
                <td mat-cell *matCellDef="let element"> {{element.type}} </td>
              </ng-container>
  
              <!-- Symbol Column -->
              <ng-container matColumnDef="date">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.date}} </td>
              </ng-container>
  
              <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let element" class="button"> 
                          
                <!-- {{element.status}}  -->
  
                @if (element?.status=='Accepted') {
                            <button mat-fab extended color="link" class={{element?.status}}>
                              <mat-icon>check</mat-icon>
                              {{element?.status}}
                            </button>
                            
                }
                
                @if(element?.status=="Declined"){
                            <button mat-fab extended color="warn" class={{element?.status}}>
                              <mat-icon>close</mat-icon>
                              {{element?.status}}
                            </button>
                }
                
                @if(element?.status=="Pending "){
                            <button mat-fab extended color="" class={{element?.status}}>
                              <mat-icon>chevron_right</mat-icon>
                              {{element?.status}}
                            </button>
                
                } 
  
                </td>
              </ng-container>
  
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
              </mat-card-content>
            </mat-card>
            
          </mat-tab>
          <mat-tab label="Total Requests">
            <h2>For Kossi Team</h2>
          </mat-tab>
      </mat-tab-group>
  
  </div>
  </div>