<div class="side-nav">
    <img class="logo" src="images/logo.jpeg" alt="">
    <ul class="menu">
        <li >
            <a  [routerLink]="['/']" [routerLinkActive]="'menu-active'" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-dashboard"></i>
                Dashboard
            </a>
        </li>
        <li>
        
            <a [routerLink]="['/attendance']" [routerLinkActive]="'menu-active'" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-calendar"></i>
                Attendance
            </a>
        </li>
        <li>
            <a [routerLink]="['/leaves']" [routerLinkActive]="'menu-active'" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-bed"></i>
                Leave
            </a>
        </li>
        <li>
           
            
            <a [routerLink]="['/analytics']" [routerLinkActive]="'menu-active'" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-area-chart"></i>
                Analytics
            </a>
        </li>
        <li>
            <a [routerLink]="['/users']" [routerLinkActive]="'menu-active'" [routerLinkActiveOptions]="{exact: true}">
                <i class="fa fa-users"></i>
                Users
            </a>
        </li>
    </ul>
</div>