<div class="sideNav mat-elevation-z8">
    <ul class="menu " >
        <li class="" [routerLinkActive]="'menuActive'" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/']" >
                <i class="fa fa-tachometer" aria-hidden="true"></i>Dashboard
            </a>
        <li [routerLinkActive]="'menuActive'" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/attendance']" >
                <i class="fa fa-user" aria-hidden="true"></i>Attendance
            </a>
           
        </li>
        <li [routerLinkActive]="'menuActive'" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/leave']" >
                <i class="fa fa-thumb-tack" aria-hidden="true"></i>Request
            </a>
        </li>
        <li [routerLinkActive]="'menuActive'" [routerLinkActiveOptions]="{exact: true}">
            <a [routerLink]="['/analytics']" >
                <i class="fa fa-bar-chart" aria-hidden="true"></i>Analytics
            </a>
        </li>
        <!-- <li>
            <a [routerLink]="['/users']" [routerLinkActive]="'menuActive'">
                <i class="fa fa-tachometer" aria-hidden="true"></i>Users
            </a>
        </li> -->
    </ul>

</div>

    