<div class="analytics">
    <div class="card-body">
        <i class="fa fa-users"></i>
        <div class="text_display">
            <p class="card-text">Entrepreneurs in Training</p>
            <h3 class="card-number">51</h3>
        </div>
    </div>

    <div class="card-body">
        <i class="fa fa-users"></i>
        <div class="text_display">
            <p class="card-text">Entrepreneurs in Training</p>
            <h3 class="card-number">51</h3>
        </div>
    </div>

    <div class="card-body">
        <i class="fa fa-users"></i>
        <div class="text_display">
            <p class="card-text">Entrepreneurs in Training</p>
            <h3 class="card-number">51</h3>
        </div>
    </div>


</div>
<div class="chart">
<apx-chart [series]="series" [chart]="chart" [title]="title"></apx-chart>
</div>

<div class="analytics-table">
<div class="table">
    <table class="table table-striped">
        <thead>
            <th>Recent Activity</th>
            <tr>
                <th scope="col">#.</th>
                <th scope="col">EMPLOYEE</th>
                <th scope="col">ROLE</th>
                <th scope="col">ID</th>
                <th scope="col">TYPE</th>
                <th scope="col">STATUS</th>
                <th scope="col">ACTION</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>12/12/2020</td>
                <td>Invoice</td>
                <td>1000</td>
                <td><span class="badge badge-success">Paid</span></td>
            </tr>
            <tr>
                <td>12/12/2020</td>
                <td>Invoice</td>
                <td>1000</td>
                <td><span class="badge badge-success">Paid</span></td>
            </tr>
            <tr>
                <td>12/12/2020</td>
                <td>Invoice</td>
                <td>1000</td>
                <td><span class="badge badge-success">Paid</span></td>
            </tr>
            <tr>
                <td>12/12/2020</td>
                <td>Invoice</td>
                <td>1000</td>
                <td><span class="badge badge-success">Paid</span></td>
            </tr>
            <tr>
                <td>12/12/2020</td>
                <td>Invoice</td>
                <td>1000</td>
                <td><span class="badge badge-success">Paid</span></td>
                <td>Employee</td>
                <td>Active</td>
                <td>Promote</td>
            </tr>
           
        </tbody>
    </table>
</div>
   

</div>



