
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$secondApp-primary: mat.define-palette(mat.$indigo-palette);
$secondApp-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$secondApp-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$secondApp-theme: mat.define-light-theme((
  color: (
    primary: $secondApp-primary,
    accent: $secondApp-accent,
    warn: $secondApp-warn,
  )
));

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($secondApp-theme);

.mainContentWrapper{
    width: 100%;
    display: flex;
    flex-direction: row;
}
.mainContent{
    width: 80vw;
    float: right;
}
.example-spacer {
    flex: 1 1 auto;
  }
  .example-container {
    width: 400px;
    height: 200px;
    margin: 10px;
    border: 1px solid #555;
  }
.relative-pos{
    position: relative;
    background-color: black;
    height: 1300px;
    width: 300px;
    left: 30px;
    top: 30px;
    color: white;
}
.absolute-pos{
    position: absolute;
    background-color: rgb(145, 145, 12);
    bottom: 0px;
    padding: 10px;
    border-radius: 0 12px 0 0;
}

.fixed-pos{
    position: fixed;
    bottom: 10px;
    right: 10px;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: rgb(182, 115, 27);
    padding: 20px;
    color: white;
    font-size: xx-large ;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 10px 10px 72px 0px rgba(32,32,32,0.75);
    font-weight: 800;
}

.sticky-pos{
    position: sticky;
    background: #0084ff;
    background: linear-gradient(322deg,#0084ff 0%, #00ff8f 80%);
    background: -webkit-linear-gradient(322deg,#0084ff 0%, #00ff8f 80%);
    background: -moz-linear-gradient(322deg,#0084ff 0%, #00ff8f 80%);
    top: 5px;
    list-style: none;
    padding-left: 0px;
    display: flex;
    justify-content: flex-end;
    padding: 20px 10px;
    font-weight: 600;
    font-size: large;
    border-radius: 10px;
    z-index: 100;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.sticky-pos > li{
    margin-left: 10px;
}

body{
    margin: 0px;
    font-family: 'Montserrat', sans-serif;
}
/* styles.css */
h1, h2, h3, h4, h5, h6 {
    font-family: 'Poppins', sans-serif;
  }

/* styles.css */
.header-text {
    font-family: 'Poppins', sans-serif;
  }

  
.wrapper{
    // display: flex;
    // flex-direction: row;
  
}


.wrapper .sideNav {
    width: 20vw;
    background-color: #ffffff;
    height: 100vh;
    color: #000000;
}

.wrapper .logo{
    width: 80px;
    margin-left: 20px;
    margin-top: 20px;
}

.wrapper .sideNav .menu{
    list-style: none;
    padding-left: 50px;
    text-align: center;
    color: #000000;
    padding-top: 40px;
}

.wrapper .sideNav .menu li{
    font-weight: 500;   
    display: flex;
    padding: 10px 20px;
    align-items: center;
    cursor: pointer;
    margin-bottom: 5px;
    color: #000000;
}
.wrapper .sideNav .menu li a{
    text-decoration: none;
    color: #29bbbb;
    font-family: 'Poppins', sans-serif;
}
.wrapper .sideNav .menu li a i{
    margin: 5px 5px;
}
.wrapper .sideNav .menu li:hover{
    border: 1px solid #29bbbb;
    width: 80%;
    color: white;
    border-radius: 20px;
}
.wrapper .sideNav .menu .menuIcons{
    width: 20px;
    margin-right: 10px;
}

.wrapper .sideNav .menu .menuActive{
    border: 1px solid #29bbbb;
    width: 80%;
    color: white;
    border-radius: 20px;
}



html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
